*,::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: arial;
}

.nav {
    position: fixed;
    top: 40px;
    right: 40px;
}

.nav__input {
    display: none;
}

.nav__label {
    background-color: rgb(121, 121, 121);
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    position: relative;
    border-radius: 50%;
    z-index: 1;
    --transform1: scale(1);
    --transform2: scale(0);
    --transition1: transform .5s;
    --transition2: none;
    
}

.nav__img {
    grid-column: 1/2;
    grid-row: 1/2;
}

.nav__img--show {
    transform: var(--transform1);
    transition: var(--transition1);
}

.nav__img--hidden {
    transform: var(--transform2);
    transition: var(--transition2);
}

.nav__input:checked + .nav__label  {
    --transition2: transform .5s;
    --transition1: none;
    --transform2: scale(1);
    --transform1: scale(0);
}


.nav__links {
    background-color: rgb(58, 149, 58);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    place-content: center;
    gap: 40px;
    font-size: 1.5rem;
    opacity: 0;
    clip-path: circle(0 at top right);
    transition: opacity 1s, clip-path 1s;
}

.nav__link {
    color: white;
    text-decoration: none;
}

@keyframes link {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav__input:checked ~ .nav__links {
    opacity: 1;
    clip-path: circle(150% at top right);
    --animation: link 0.5s .5s both ;
}

.nav__input:checked ~ .nav__links .nav__link {
    opacity: 0;
    transform: translateY(-20%);
    animation: var(--animation);
}

.nav__input:checked ~ .nav__links .nav__link:nth-child(2) {
    opacity: 0;
    transform: translateY(-20%);
    --animation: link 0.5s 1s both ;
}

.nav__input:checked ~ .nav__links .nav__link:nth-child(3) {
    opacity: 0;
    transform: translateY(-20%);
    --animation: link 0.5s 1.5s both ;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(6,1fr);
    height: 100vh;
    width: 100%;
}

.grid::before, .grid::after {
    content:" ";
    z-index: -1;
    grid-row: 1/7;
}

.grid::before {
    background-color: crimson;
    grid-column: 1/3;
}

.grid::after {
    background-color: white;
    grid-column: 3/-1;
}

.grid__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 2/4;
    grid-row: 2/-2;
}

.grid__texts {
    grid-column: 5/8;
    grid-row: 2/-2;
    display: grid;
    align-content: center;
    gap: 30px;
}

.grid__title {
    font-size: 2rem;
}

.grid__paragraph:nth-child(1) {
    margin-bottom: 20px;
}

.cta {
    background-color: crimson;
    justify-self: start;
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    text-align: center;

}